@use 'base/variables' as v;
@use 'base/mixins' as m;

.main {
    height: 100vh;
    background-color: v.$lightGrayCyan;
    &__heading {
        text-align: center;
        margin: 0;
        padding: 4rem;
        text-transform: uppercase;
        color: v.$darkGrayCyan;
        font-size: 2.4rem;
        letter-spacing: 1rem;
        line-height: 1.5;
        font-weight: bold;
    }
}
.calculator {
    background-color: v.$white;
    padding: 2rem;
    width: 100%;
    border-radius: 2rem;
    

    &__text {
        color: v.$darkGrayCyan;
        font-weight: bold;
        margin: 0;
        padding: 1rem 0rem;
    }
    &__input {
        background-color: v.$veryLightGray;
        border: none;
        text-align: right;
        appearance: textfield;
        padding: 1rem;
        width: 100%;
        border-radius: 1rem;
        background-image: url(../img/icon-dollar.svg);
        background-repeat: no-repeat;
        background-position: center left 5%;
        margin-bottom: 1rem;
        color: v.$secondary;
        font-weight: bold;
        font-family: v.$firstFont;
        &--ppl {
            background-image: url(../img/icon-person.svg);
        }
    }
    &__percents {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 100%;
        gap: 2rem;
    }
    &__btn {
        width: 95%;
        height: 100%;
        place-self: center;
        text-align: center;
        background-color: v.$secondary;
        color: v.$white;
        border-radius: 0.5rem;
        font-weight: bold;
        font-size: 2rem;
        padding: 3px 0;
        cursor: pointer;
        &:hover {
            background-color: v.$primary;
        }

        &--mod {
            background-color: v.$veryLightGray;
            color: v.$secondary;
            appearance: textfield;
            cursor: default;
            &:hover {
                background-color: v.$veryLightGray;
            }

        }
    }
}